# Merge the data from fnc and Emergent

In [53]:
import pandas as pd

In [54]:
# for merged Fake news challenge data
df_challenge_train = pd.read_csv('data/merge_fnc.csv')

In [55]:
df_challenge_train.head()

,Headline,Body ID,Stance,articleBody
0,Police find mass graves with at least '15 bodi...,712,unrelated,Danny Boyle is directing the untitled film\r\n...
1,Seth Rogen to Play Apple’s Steve Wozniak,712,discuss,Danny Boyle is directing the untitled film\r\n...
2,Mexico police find mass grave near site 43 stu...,712,unrelated,Danny Boyle is directing the untitled film\r\n...
3,Mexico Says Missing Students Not Found In Firs...,712,unrelated,Danny Boyle is directing the untitled film\r\n...
4,New iOS 8 bug can delete all of your iCloud do...,712,unrelated,Danny Boyle is directing the untitled film\r\n...

In [56]:
# read Emergent data
df_emergent = pd.read_csv('data/url-versions-2015-06-14-clean-train.csv')

In [57]:
df_emergent.head()

,Unnamed: 0,claimHeadline,articleHeadline,articleHeadlineStance,articleId,claimId
0,0,Apple will sell 19 million Apple Watches in 2015,"BMO forecasts 19M Apple Watch sales in 2015, w...",observing,116a3920-c41c-11e4-883c-a7fa7a3c5066,8faeb4b0-c41b-11e4-88c9-eb158a06b9a5
1,1,Two Australian men kept a McDonald's Quarter P...,World's oldest burger,for,8bb10fd0-b6aa-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
2,2,Two Australian men kept a McDonald's Quarter P...,Two blokes dared to eat 20-year-old burger for...,for,00b6b660-b6a9-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
3,3,Two Australian men kept a McDonald's Quarter P...,Would you take a bite out of the world's oldes...,for,fc92d640-b6a8-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
4,4,Two Australian men kept a McDonald's Quarter P...,20 year old burger? McDonald's burger purchase...,for,08c84b70-b6a9-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078

In [58]:
merged_res = df_challenge_train.merge(df_emergent, left_on='Headline', right_on='articleHeadline', how='left')

In [59]:
merged_res = merged_res.dropna()

In [60]:
len(merged_res)

22882

In [61]:
merged_res.head()

,Headline,Body ID,Stance,articleBody,Unnamed: 0,claimHeadline,articleHeadline,articleHeadlineStance,articleId,claimId
2,Mexico police find mass grave near site 43 stu...,712,unrelated,Danny Boyle is directing the untitled film\r\n...,1663.0,Mass grave found in Mexico holds bodies of mis...,Mexico police find mass grave near site 43 stu...,observing,8a5f1540-4cbb-11e4-949b-f14041b20838,39506bb0-4cb9-11e4-949b-f14041b20838
3,Mexico Says Missing Students Not Found In Firs...,712,unrelated,Danny Boyle is directing the untitled film\r\n...,1656.0,Mass grave found in Mexico holds bodies of mis...,Mexico Says Missing Students Not Found In Firs...,against,cb10abf0-708b-11e4-8e10-b9c720c188ba,39506bb0-4cb9-11e4-949b-f14041b20838
4,New iOS 8 bug can delete all of your iCloud do...,712,unrelated,Danny Boyle is directing the untitled film\r\n...,1014.0,Reset All Settings option in iOS 8 deletes iWo...,New iOS 8 bug can delete all of your iCloud do...,for,ac736320-48d3-11e4-9960-a165dd517bbb,d049ff80-48d2-11e4-9960-a165dd517bbb
5,Return of the Mac: Seth Rogen in talks to star...,712,discuss,Danny Boyle is directing the untitled film\r\n...,2121.0,Seth Rogen will play Steve Wozniak in a film a...,Return of the Mac: Seth Rogen in talks to star...,observing,8df39250-6122-11e4-b6e9-e5f029e25965,cf3a83c0-611a-11e4-b6e9-e5f029e25965
6,Seth Rogen Is Woz,712,discuss,Danny Boyle is directing the untitled film\r\n...,2115.0,Seth Rogen will play Steve Wozniak in a film a...,Seth Rogen Is Woz,for,3eb7c640-611b-11e4-b6e9-e5f029e25965,cf3a83c0-611a-11e4-b6e9-e5f029e25965

In [62]:
final_res = pd.DataFrame()

In [63]:
final_res['claimId'] = merged_res['claimId']

In [64]:
final_res['claimHeadline'] = merged_res['claimHeadline']

In [65]:
final_res['trueStance'] = merged_res['Stance']

In [66]:
final_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22882 entries, 2 to 50795
Data columns (total 3 columns):
claimId          22882 non-null object
claimHeadline    22882 non-null object
trueStance       22882 non-null object
dtypes: object(3)
memory usage: 715.1+ KB

In [67]:
df_source = pd.DataFrame()

In [68]:
df_source['articleId'] = merged_res['articleId']
df_source['articleHeadlineStance'] = merged_res['articleHeadlineStance']

In [69]:
df_source = df_source.drop_duplicates(subset='articleId')

In [71]:
df_source = df_source.set_index('articleId').rename_axis(None).T

In [72]:
df_source

,8a5f1540-4cbb-11e4-949b-f14041b20838,cb10abf0-708b-11e4-8e10-b9c720c188ba,ac736320-48d3-11e4-9960-a165dd517bbb,8df39250-6122-11e4-b6e9-e5f029e25965,3eb7c640-611b-11e4-b6e9-e5f029e25965,11b1f4f0-50b7-11e4-b6a0-9705a8f94440,44e303c0-4dc2-11e4-949b-f14041b20838,d9a50340-708c-11e4-8e10-b9c720c188ba,1727c350-70de-11e4-8e10-b9c720c188ba,5f0ea250-70df-11e4-8e10-b9c720c188ba,...,10b7a580-c36d-11e4-9435-a96703525a9e,0dee9a70-c36d-11e4-9435-a96703525a9e,c1ee7c70-9ffa-11e4-a353-5b831fe927be,53faf1e0-a5c6-11e4-aa4f-ff16e52e0d56,26c0c500-a5c7-11e4-aa4f-ff16e52e0d56,116a3920-c41c-11e4-883c-a7fa7a3c5066,7c5eada0-c468-11e4-883c-a7fa7a3c5066,00c5b820-c46b-11e4-883c-a7fa7a3c5066,0e7e6910-c346-11e4-8747-5b024dd6dd6c,c4f1b000-c349-11e4-8747-5b024dd6dd6c
articleHeadlineStance,observing,against,for,observing,for,observing,observing,against,observing,observing,...,for,for,for,for,for,observing,for,for,observing,for

In [74]:
df_source['8a5f1540-4cbb-11e4-949b-f14041b20838'].values

array(['observing'], dtype=object)