In [1]:
import pandas as pd

# Merge Headline and Body text - Fake news challenge

In [3]:
# for Fake news challenge data
df_challenge_train = pd.read_csv('data/train_stances.csv', encoding='unicode_escape')

In [4]:
df_challenge_train.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [6]:
df_challenge_train['Body ID'].value_counts()

1921    187
1948    175
40      172
524     171
1549    166
304     154
1385    151
125     145
2367    143
220     141
1438    141
195     140
2296    136
35      131
1786    131
1883    131
2520    127
1034    127
2252    126
1574    125
2307    125
527     125
2175    124
1627    123
2404    123
1289    122
2115    121
2096    120
1040    118
1893    117
       ...
907       1
370       1
210       1
146       1
114       1
1542      1
63        1
76        1
390       1
515       1
193       1
464       1
355       1
323       1
624       1
282       1
18        1
797       1
701       1
362       1
2311      1
6         1
915       1
70        1
151       1
376       1
140       1
307       1
1066      1
59        1
Name: Body ID, Length: 1683, dtype: int64

In [5]:
df_challenge_train_bodies = pd.read_csv('data/train_bodies.csv', encoding='unicode_escape')

In [7]:
df_challenge_train_bodies.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER)  Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [8]:
df_challenge_train_bodies['Body ID'].value_counts()

2047    1
1256    1
1174    1
1176    1
1178    1
1180    1
1182    1
1184    1
1190    1
1192    1
1196    1
1198    1
1202    1
1206    1
1208    1
1210    1
1212    1
1214    1
1222    1
1224    1
1226    1
1234    1
1240    1
1242    1
1252    1
1170    1
1168    1
1166    1
1122    1
1074    1
       ..
499     1
503     1
505     1
459     1
2504    1
417     1
431     1
419     1
2468    1
2470    1
423     1
2472    1
425     1
2474    1
427     1
2476    1
2478    1
2480    1
455     1
433     1
2490    1
443     1
2492    1
445     1
447     1
2496    1
2498    1
451     1
2502    1
0       1
Name: Body ID, Length: 1683, dtype: int64

In [9]:
# merge
df_challenge_train = df_challenge_train.merge(df_challenge_train_bodies, left_on='Body ID', right_on='Body ID', how='inner')

In [12]:
df_challenge_train.sample(10)

,Headline,Body ID,Stance,articleBody
40868,Somalia Shebab chief Ahmed Abdi Godane likely ...,1835,discuss,(Reuters) - The Pentagon is assessing whether ...
16046,Itâs Okay To Laugh About The Fact That The V...,964,unrelated,Doctor in besieged Syrian town reports arrival...
49778,âStar Wars: The Force Awakensâ May Get An ...,622,discuss,Breaking! J.J. Abrams has reportedly approach...
24782,Nicaragua says meteorite probable cause of bla...,2118,unrelated,"On the same day Michael Brown was buried, a Fe..."
27160,Journalist James Wright Foley reportedly behea...,1361,unrelated,"In a new video, ISIS shows American-made weapo..."
2748,Another American hostage at risk by Islamic state,1905,unrelated,NEW YORK  Pope Francis has given hope to gays...
44555,Saudi Arabian cleric issues fatwa against snowmen,955,unrelated,Nigeria has reached a ceasefire deal that will...
43808,Identity of ISIS terrorist known as 'Jihadi Jo...,2125,unrelated,"On December 17, a site called InSerbia.info pu..."
46360,Rumors about Fidel Castroâs death again circ...,1918,discuss,MEXICO CITY  Rumors about the death of Fidel ...
9035,Apple Watch battery will require nightly charging,687,unrelated,Robots are increasingly replacing humans in a ...

In [14]:
df_challenge_train.to_csv("data/merge_fnc.csv", index=False)